<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= titulo %></title>

 

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

  <!-- Navigation -->

  <nav class="menu"> 
  <ul class="menu__left">
  <% getLocales().forEach( locale => { %>
  <li><a class= "menu__left" href="/change-lang/<%= locale %>"><%= locale.toUpperCase() %></a> </li>
<% }) %>
 </ul>
 <ul class="menu__right">
  <li>
  <a class="menu__item" href="/"><%= __('Anuncios') %></a>
  </li>
  <% if (!session.authUser) { %>
  <li >
    <a class="menu__item" href="/login"><%= __('Login') %></a>
  </li>
<% } else { %>
  <li>
    <a class="menu__item" href="/admin"><%= __('Admin') %></a>
  </li>
  <li >
    <a class="menu__item" href="/logout"><%= __('Logout') %></a>
  </li>
<% } %>
  </ul>

  </nav>




