<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= titulo %></title>

 

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

  <!-- Navigation -->

  <nav class="menu"> 
  <ul>
  <li>
  <a class="menu__item" href="/"><%= __('Anuncios') %></a>
  </li>
  <% if (!session.authUser) { %>
  <li >
    <a class="menu__item" href="/login"><%= __('login') %></a>
  </li>
<% } else { %>
  <li>
    <a class="menu__item" href="/admin"><%= __('admin') %></a>
  </li>
  <li >
    <a class="menu__item" href="/logout"><%= __('logout') %></a>
  </li>
<% } %>
  </ul>

  </nav>




